.profilecls{
    padding: 0%;
    background-image: url(../../../public/images/profileBG.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    
}
.profilepage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.profilebox{
    border: solid;
    width: 400px;
    background-color: rgb(200, 187, 187);
    border-radius: 10px;
    opacity: 75%;
    /* padding: 10px; */

}
.defaultprofile{
    width: 100px;
    border-radius: 350px;
    height: 100px;

}
.details{
    padding-left: 20px;
}


