.yourblog{
    width: 350px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.yourcls{
    background-image: url(../../../public/images/yourBG.jpeg);
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px;
}
.your{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.editbut{
    margin-right: 2px;
    background-color: yellow;
    border: none;
    font-weight: bold;

}
.deletebut{
    margin-left: 2px;
    background-color: red;
    border: none;
    font-weight: bold;
}
.linkcolor{
    text-decoration: none;
    color: black;
}




.clickblog {
    padding: 15px 25px;
    border: unset;
    border-radius: 15px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
   }
   
   .clickblog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms
   }
   
   .clickblog:hover {
    color: #e8e8e8;
   }
   
   .clickblog:hover::before {
    width: 100%;
   }

.write{
    height: 480px;
    text-align: center;
    padding-top: 15%;
}

.clickblog{
    margin-top: 20px;
}







  