.yourblog{
    width: 350px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}
.yourcls{
    background-image: url(../../../public/images/yourBG.jpeg);
    height: auto;
    padding-top: 30px;
}
.your{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}
.editbut{
    margin-right: 2px;
    background-color: yellow;
    border: none;
    font-weight: bold;

}
.deletebut{
    margin-left: 2px;
    background-color: red;
    border: none;
    font-weight: bold;
}
.linkcolor{
    text-decoration: none;
    color: black;
}